	
		
		/* = buble left ----------------------------------------------- */
		.entry-1 .myindex, .entry-2 .myindex, .entry-5 .myindex, .entry-7 .myindex, .entry-9 .myindex, .entry-10 .myindex, .entry-12 .myindex, .entry-17 .myindex, .entry-18 .myindex {
			margin-left: -51px;
			margin-top: 6px;
			background-image: url(../img/buble_r.png);
			background-repeat: no-repeat;
			width: 20px;
			height: 16px;
			text-align: center;
			color: white !important;
			font-size: 9px !important;
			line-height: 1.7;
			background-position: right;
		}
		/* = buble top ----------------------------------------------- */
		 .entry-4 .myindex, .entry-6 .myindex, .entry-8 .myindex, .entry-11 .myindex, .entry-13 .myindex, .entry-19 .myindex  {
		margin-top: -21px;
		margin-left: -21px;
		background-image: url(../img/buble.png);
		background-repeat: no-repeat;
		width: 16px;
		height: 18px;
		text-align: center;
		color: white !important;
		font-size: 9px !important;
		line-height: 1.7;
		
		}
		 
		.entry-20 .myindex, .entry-16 .myindex {
			margin-left: -51px;
			margin-top: 6px;
			background-image: url(../img/buble_r.png);
			background-repeat: no-repeat;
			width: 20px;
			height: 16px;
			text-align: center;
			color: white !important;
			font-size: 9px !important;
			line-height: 1.7;
			background-position: right;
		
		}
		
		.entry-15 .myindex, .entry-3 .myindex3 {
		margin-top: -49px;
		margin-left: -21px;
		background-image: url(../img/buble.png);
		background-repeat: no-repeat;
		width: 16px;
		height: 18px;
		text-align: center;
		color: white !important;
		font-size: 9px !important;
		line-height: 1.7;
		
		}
		 .entry-14 .myindex {
			margin-left: -51px;
			margin-top: 6px;
			background-image: url(../img/buble_r.png);
			background-repeat: no-repeat;
			width: 20px;
			height: 16px;
			text-align: center;
			color: white !important;
			font-size: 9px !important;
			line-height: 1.7;
			background-position: right;
		
		}

		/*----------------------remove------------------------------------------*/	
	.entry- .myindex {
		margin-top: -49px;
		margin-left: -21px;
		background-image: url(../img/buble.png);
		background-repeat: no-repeat;
		width: 16px;
		height: 18px;
		text-align: center;
		color: white !important;
		font-size: 9px !important;
		line-height: 1.7;
		
		}
/*----------------------remove------------------------------------------*/	